<h4>Edit Player Information</h4>
<div>
  <div>
    <label>New Player Name:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.name">
  </div>

  <div>
    <label>New Player Position:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.position">
  </div>

  <div>
    <label>New Player Number:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.number">
  </div>

  <div>
    <label>New Player Height:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.height">
  </div>

  <div>
    <label>New Player Year:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.year">
  </div>

  <div>
    <label>New Player Image URL:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.image">
  </div>

  <div>
    <label>New Player Details:</label>
    <br>
    <input [(ngModel)]="selectedPlayer.details">
  </div>
  <button class="btn btn-success" (click)="beginUpdatingPlayer(selectedPlayer)">Edit Player</button>
</div>


<div>
  <app-players></app-players>
</div>
