<h1>About the Bulldogs</h1>
<p>The Gonzaga Bulldogs (also known unofficially as the Zags) are the intercollegiate athletic teams representing Gonzaga University, located in Spokane, Washington, United States. Gonzaga competes in the National Collegiate Athletic Association (NCAA) Division I as a member of the West Coast Conference.</p>

<p>Men's basketball has been the most successful sport for the Bulldogs. Gonzaga home games have been played at the McCarthey Athletic Center since 2004. The Bulldogs opened the arena with a 38-game win streak, the longest at the time in the NCAA, eventually snapped in February 2007 by the Santa Clara Broncos.</p>

<p>The Bulldogs have established a reputation as one of the stronger teams in college basketball, having played in 16 consecutive NCAA tournaments and ascending to the #1 ranking in both major polls during the 2012–13 season. They are generally reckoned as one of the closest things to a major basketball power in a mid-major conference.</p>

<p>Notable alumni of Gonzaga basketball include hall of famer John Stockton, Dan Dickau, Adam Morrison, Robert Sacre, Kelly Olynyk, Richie Frahm, J. P. Batista, Paul Rogers, Blake Stepp, Ronny Turiaf, and Austin Daye.</p>

<p><em>Text taken from Wikipedia</em></p>
