<div *ngIf="currentRoute !=='/admin'">
  <select (change)="onChange($event.target.value)">
    <option value="allPositions" selected="selected">All Positions</option>
    <option value="guard">Guards</option>
    <option value="center">Centers</option>
    <option value="forward">Forwards</option>
  </select>
</div>


<div *ngFor="let player of players | async | playerPosition:filterByPlayerPosition">
  <div class="row">
    <!-- <div class="col-sm-6">
      <img src={{player.image}} alt="">
    </div> -->
    <div class="col-sm-6">
      <h3 (click)="goToPlayerDetailPage(player)">{{player.name}}</h3>
      <h4>{{player.position}}</h4>
    </div>
    <div *ngIf="currentRoute === '/admin'">
      {{player.details}}
      {{player.height}}
      {{player.year}}
      {{player.number}}
      <hr>
      <app-edit-players [selectedPlayer]="player"></app-edit-players>
    </div>
  </div>
</div>
